<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerDashboard/DashboardIndex">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Project/CreateProject">
                <i class="mdi mdi-plus-circle-multiple-outline menu-icon"></i>
                <span class="menu-title">Yeni Proje</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Project/ProjectList">
                <i class="mdi mdi-chart-bubble menu-icon"></i>
                <span class="menu-title">Projeler</span>
            </a>
        </li>
       @* <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/RecieverMessage">
                <i class="mdi mdi-message-outline menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" href="/Customer/MessageBox/Inbox">
                <i class="mdi mdi-message-outline menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/MessageBox/Outbox">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" href="/Customer/MessageBox/SendMessage">
                <i class="mdi mdi-message-draw menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Yaz </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Announcement/AnnouncementIndex">
                <i class="mdi mdi-voice menu-icon"></i>
                <span class="menu-title">Duyurular</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/ClientTesimonial/AddTestimony">
                <i class="mdi mdi-comment-processing-outline menu-icon"></i>
                <span class="menu-title">Hakkımda Yorum Bırak</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/Profile/ProfileIndex">
                <i class="mdi mdi-account-circle menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Customer/Login/LogOut">
                <i class="mdi mdi-power menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>