@using EntitiyLayer.Concrete
@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="row">
    <div class="col-6 grid-margin stretch-card">
        <div class="card bg-default shadow">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hesap</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.SocialMediaID</td>
                                <td>@item.Name</td>
                                <td><a href="/SocialMedia/EditSocialMedia/@item.SocialMediaID" class="btn btn-outline-warning">Güncelle</a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            <br />
        </div>
    </div>
</div>