@model EntitiyLayer.Concrete.Announcement

@{
    ViewData["Title"] = "AnnouncementDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}




<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4>Duyuru Detayları</h4>
            <form class="form-form">
                <br />
                @Html.Label(Model.Title)
                @Html.TextAreaFor(x=>x.Content, 10, 3, new{@class="form-control"})
            </form>
        </div>
    </div>
</div>