@model Core_Proje.Areas.Admin.Models.AddServiceModel



<div class="card-header border-0">
    <h4 class="mb-0">Hizmet Ekleme</h4>
</div>

@using (Html.BeginForm("AddServiceInModal", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <br />
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x=>x.Title, new {@class="form-control text-light"})
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <br />
                    <label>Resim Seç</label>
                    <br />
                    <input type="file" asp-for="ServiceIcon">
                    <span asp-validation-for="ServiceIcon" class="text-danger"></span>
                    <br />
                    <br />
                    <button id='modalClose' type="submit" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

