@model Core_Proje.Areas.Admin.Models.EditServiceModel

@using (Html.BeginForm("ServiceDetailsInModal", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Yeni Hizmet Ekle </h4>
                <form class="forms-sample">
                    <br />
                    @Html.HiddenFor(x=> x.ServiceID)
                    <br />
                    @Html.Label("Hizmet")
                    @Html.TextBoxFor(x=>x.Title, new {@class="form-control text-light"})
                    <br />
                    @*<label>İkon</label>
                    @Html.TextBoxFor(x=>x., new {@class="form-control"})
                    <br />*@
                    <label>Resim Seç</label>
                    <br />
                    <input type="file" asp-for="ServiceIcon">
                    <br />
                    <br />
                    <button id='modalClose' type="submit" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}