@using Core_Proje.Areas.Customer.Models
@using EntitiyLayer.Concrete
@using DataAccessLayer.EntityFramework
@using BusinessLayer.Concrete

@model Announcement

<div class="card">
    <div class="card-header">
        @Model.Title
    </div>
    <div class="card-body">
        @Model.Content
    </div>
</div>