@model EntitiyLayer.Concrete.Announcement

<div class="card-header border-0">
    <h4 class="mb-0">Yeni Duyuru</h4>
</div>

@using (Html.BeginForm("MakeAnnouncementInModal", "AdminAnnouncement" , FormMethod.Post))
{
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label>Başlık</label>
                            @Html.TextBoxFor(x=>x.Title, new {@class = "form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Title)
                        </div>
                        <div class="form-group">
                            <label>Konu</label>
                            @Html.TextBoxFor(x=>x.Content, new {@class = "form-control text-light"})
                            @Html.ValidationMessageFor(x=>x.Content)
                        </div>
                        <button id='modalClose' type="submit" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Duyuru yap</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
}

