<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterDashboard/DashboardIndex">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Project/CreateProject">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Yeni Proje</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Onay Bekleyen Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Devam Eden Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Tamamlanan Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/RecieverMessage">
                <i class="ti-arrow-down menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="ti-arrow-up menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage">
                <i class="ti-pencil-alt menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Yaz </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Announcement/AnnouncementIndex">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Duyurular</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>