<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterDashboard/DashboardIndex">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Project/CreateProject">
                <i class="mdi mdi-plus-circle-multiple-outline menu-icon"></i>
                <span class="menu-title">Yeni Proje</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Project/PendingProjectList">
                <i class="mdi mdi-sleep menu-icon"></i>
                <span class="menu-title">Onay Bekleyen Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Project/WorkInProgressProjectList">
                <i class="mdi mdi-brush menu-icon"></i>
                <span class="menu-title">Devam Eden Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Project/CompletedProjectList">
                <i class="mdi mdi-checkbox-multiple-marked-circle-outline menu-icon"></i>
                <span class="menu-title">Tamamlanan Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/RecieverMessage">
                <i class="mdi mdi-message-outline menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage">
                <i class="mdi mdi-message-draw menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Yaz </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Announcement/AnnouncementIndex">
                <i class="mdi mdi-voice menu-icon"></i>
                <span class="menu-title">Duyurular</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/ProfileIndex">
                <i class="mdi mdi-account-circle menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="mdi mdi-power menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
    </ul>
</nav>