@model EntitiyLayer.Concrete.Service


<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Ekleme</h3>
</div>

@using (Html.BeginForm("AddServiceInModal", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Proje Ekleme Paneli </p>
                <form class="forms-sample">
                    <br />
                    @Html.Label("Başlık")
                    @Html.TextBoxFor(x=>x.Title, new {@class="form-control"})
                    <br />
                    <label>Görsel</label>
                    @Html.TextBoxFor(x=>x.ImageUrl, new {@class="form-control"})
                    <br />
                    <button id='modalClose' type="submit" class="btn btn-outline-primary btn-sm" data-bs-dismiss="modal">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

