@using EntitiyLayer.Concrete
@model List<Project>


<div class="col-8 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Projeler</h4>
            <div class="table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Proje</th>
                            <th>Fiyat</th>
                            <th>Maliyet</th>
                            <th>Durum</th>
                            <th>Tamamlanma Oranı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProjectID</td>
                                <td>@item.ProjectName</td>
                                <td>@item.Price</td>
                                <td>@item.Expence</td>
                                @if (item.IsComfirmed==false)
                                {
                                   <td>Onay Bekliyor</td>
                                }else
                                {
                                    <td>Onaylandı</td>
                                }
                                <td>%@item.Progress</td>
                                <td><a class="btn btn-outline-warning" href="/Project/EditProject/@item.ProjectID">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
