@model Core_Proje.Models.EditProjectViewModel
@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proje: @Html.DisplayFor(x=>x.ProjectName) </h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(x=> x.ProjectID)
                <div class="form-group">
                    <label>ilerleme durumu</label>
                    <input type="text" asp-for="Progress" class="form-control">
                </div>
                <div class="form-group">
                    <label>gider tutarı</label>
                    <input type="text" asp-for="Expence" class="form-control">
                </div>
                <div class="form-group">
                    <label>ücret</label>
                    <input type="text" asp-for="Price" class="form-control">
                </div>
                <div class="form-group">
                    <label>Resim Seç</label><br />
                    <input type="file" asp-for="ProjectImage">
                </div>
                <div>
                    <label>Projeyi Onayla</label>
                    @Html.CheckBoxFor(x=>x.IsComfirmed, new {id="IsComfirmed"})
                </div>
                <button type="submit" class="btn btn-primary btn-sm mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>