@using EntitiyLayer.Concrete
@model IEnumerable<Message>
@{
    ViewData["Title"] = "Outbox";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Kutusu</h4>
            <div class="table-responsive">
                <table class="table table-striped" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th class ="d-none d-md-table-cell" style="width: 100px;">#</th>
                            <th class="table-cell-content" style="width: 120px;">Konu</th>
                            <th class="d-none d-md-table-cell table-cell-content">Mesaj</th>
                            <th class="d-none d-md-table-cell table-cell-content">Tarih</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <th class="d-none d-md-table-cell" style="width: 100px;">@item.MessageID</th>
                                <td class="table-cell-content" style="width: 120px;">@item.Subject</td>
                                <td class="d-none d-md-table-cell table-cell-content" style="width: 150px;">@item.MessageContent</td>
                                <td class="d-none d-md-table-cell table-cell-content" style="width: 200px;">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                <td><a href="#" class="btn btn-outline-primary btn-sm" data-target="/Customer/MessageBox/MessageDetailsInModal/@item.MessageID">Detaylar</a></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Deneme Modal'ı-->

<div class="modal fade" id="modelView" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>*@
            <div class="modal-body">
                <!--Modal içeriği-->
            </div>
        </div>
    </div>
</div>

<!--Deneme Modal'ı-->

