@using EntitiyLayer.Concrete

@model Testimonial

<div class="card">
    <div class="card-header">
        @Model.ClientName
    </div>
    <div class="card-body">
        @Model.Comment
    </div>
</div>