@model EntitiyLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card card-tale">
        <div>
            <div class="card-body">
                <h5 class="card-title">@Model.Subject</h5>
                <p class="card-text">@Model.Date</p>
                @*<a href="/Writer/Message/MessageList" class="btn btn-primary btn-sm">Geri Dön</a>*@
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card card-tale">
        <div class="card-body">
            <p class="font-weight-500">@Model.MessageContent</p>
        </div>
    </div>
</div>








