@using EntitiyLayer.Concrete
@model IEnumerable<WriterMessage>
@{
    ViewData["Title"] = "SenderMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Kutusu</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        
                            <tr>
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                <td><a href="#" class="btn btn-outline-primary btn-sm" data-target="/Customer/Message/MessageDetailsInModal/@item.WriterMessageID">Detaylar</a></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Deneme Modal'ı-->

<div class="modal fade" id="modelView" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>*@
            <div class="modal-body">
                <!--Modal içeriği-->
            </div>
        </div>
    </div>
</div>

<!--Deneme Modal'ı-->